body {
    margin-top: 0%;
    background: -webkit-linear-gradient(to right, #fff, #FFE2DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #FFE2DB);
    overflow-x: hidden;
}

.logo {
    position: fixed;
    left: -5rem;
    top: -2rem;
}


//*******navbar begins*****/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$gray: #dddddd;
$white: #fff;
$black: #161616;

@mixin magnetic($timeing) {
  transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}



.btn{
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  position: relative;
  margin-left: 2em;
  padding: 5px 23px 5px 10px;
  transition: all 0.6s ease;
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    left: -1em;
    top: 0;
    bottom: 0;
    margin: auto;
    background:$black;
    width: 2.6em;
    height: 2.6em;
    border-radius: 5em;
    @include magnetic(0.6s);
  }
  &:after{
    color: $white;
    content: ">";
    font-size: 2.6em;
    position: absolute;
    z-index: -1;
    left: -0.12em;
    top: 0.35em;
    bottom: 0;
    // margin: auto;
    width: 1.1em;
    height: 1.1em;
  }
  
  &:hover{
    transition: all 0.6s ease;
    transition-delay: 0.3s;
    color: #fff;
    &:before{
      @include magnetic(0.6s);
      width: 115%;
    }
   
  }
}

.wrap{
display: flex;
align-items: flex-end;
justify-content: flex-end;
padding:1rem;
top: -20rem; 

}

.wrap a {
    padding:2rem;
   
}

/******navbar-ends******/
.container1
{
    position: relative;
    left: 25%;
    margin-top: 15%;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
}
.container2{
    margin-top: -20%;
    left: 55%;
    position: relative;
}
.container3
{
    position: relative;
    left: 25%;
    margin-top: 40%;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
}
.container4{
  top: 20%;
  left: 55%;
  position: relative;
}


/****container button*****/


.cbtn{
    position: absolute;
    top: 140%;
    left:5%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
    background: -webkit-linear-gradient(to right, #fff, #FFE2DB);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    background-color:#D1D1D1;
    font-size: 20px;
    font-family: "ubuntu";
    letter-spacing: 4px;
  border-radius: 20px; 
}

.cbtn:before,
.cbtn:after,
span:before,
span:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background:black;
    transition: 1s;
    mix-blend-mode:screen;
}

.cbtn:before
{
    top: -2px;
    left: -2px
}
.cbtn:after
{
    top: -2px;
    right: -2px;
}
span:before
{
    bottom: -2px;
    left: -2px
}
span:after
{
    bottom: -2px;
    right: -2px
}

.cbtn:hover:before,
.cbtn:hover:after,
.cbtn:hover span:before,
.cbtn:hover span:after
{
    width: calc( 180px/2 );
    height: calc( 50px/2 )
}
/****container button ends*****/


/****slideshow*********/

