body {
    margin-top: 0%;
    background: -webkit-linear-gradient(to right, #fff, #FFE2DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #FFE2DB);
    overflow-x: hidden;
    margin-bottom: 0%;
    
   
}

.logo {
    position: relative;
    left: -5rem;
    top: -2rem;
}
.head{
  top:-3rem;
  left: 5rem;
  text-align:center;
  font-family:"ubuntu";

}

.content {
    padding: 1rem 0px;
    height: auto;
    display: inline-block;
    width: 350px;
    transition: 0.3s;
    border-radius: 17px;
    background: rgba(250, 142, 122, 0.733);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    margin-bottom: 5%; 
     margin-left: 10%;
  }
  heading {
    margin: 14px auto;
    font-size: 50px;
    font-weight: 600;
    font-family: "ubuntu"; 
  }
  
  .content:hover {
    border: 5px 5px 10px 0 rgb(241, 70, 70);
    box-shadow: 5px 5px 10px 0 rgb(230, 8, 8);
    transform: scale(0.9);
  }
  .btn {
    font-weight: bold;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 3px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 23px;
    height: 70px;
    width: 100px;
    text-align: center;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  
  .flip-card-inner {
    position: bottom;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  /* Position the front and back side */
  
  .flip-card-front h1 {
    font-size: 35px;
  }
  
  .flip-card-front {
    position: absolute;
    margin-top: 116px;
    margin-left: 26px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    position: absolute;
    margin-top: 32px;
    margin-left: -21px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  
  .flip-card-front {
    align-items: center;
  }
  
  .flip-card-back {
    color:black;
    font-size: larger;
    font-weight: bold;
    margin-right: 70px;
    transform: rotateY(180deg);
  }